API_URL='http://localhost:3333'
APP_URL='http://localhost:3000'
CORS_WHITELIST='*'
BETTER_AUTH_SECRETS=''
BETTER_AUTH_URL="$API_URL"
DATABASE_URL='postgresql://postgres:postgres@localhost:5432/postgres'
MAIL_HOST=''
MAIL_PASS=''
MAIL_PORT=''
MAIL_USER=''
NODE_ENV='development'
PORT=3333
S3_ACCESS_KEY_ID=''
S3_BUCKET=''
S3_ENDPOINT=''
S3_SECRET_ACCESS_KEY=''
# STATIC_DIR=''

# Providers
MAIL_DRIVER=nodemailer
STORAGE_DRIVER=s3
